/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Generics*/

/*Utils*/

/* Header*/
.main-header{
    min-height: 80px;
    background-color: #ADD8E7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.secondary-header{
    min-height: 400px;
    background-color: #01008B;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Main Header*/
.related-header{
    background-color: #DAA51F;
    width: 15%;
    min-height: 40px;
    border: 2px dashed black;
    align-self: center;
    align-items: center;

} 

.link-header{
    flex-grow: 1;
}

.logo-header{
    margin-left: 300px ;
}

.login-header{
    margin-right: 300px; 
    }

/* Secondary Header*/

.item-header{
    background-color: #EE82EE;
    width: 50%;
    min-height: 350px;
    border: 2px dashed black;
    align-self: center;
    align-items: center;
}

/* Main*/

.main-card{
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}
 
.secondary-card{
    background-color: #D3D3D3;
}

.large-box{
    background-color: #1F90FF;
    width: 60%;
    min-height: 350px;
    border: 2px dashed black;
    align-self: center;
    align-items: center;
    
}

.small-box{
    background-color: #FEC0CB;
    width: 40%;
    min-height: 350px;
    border: 2px dashed black;
    align-self: center;
    align-items: center;
}

/* Outline-Card*/
.outline-card{
    min-height: 700px;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}

.xl-box{
    background-color: #238B23;
    width: 100%;
    min-height: 650px;
    border: 2px dashed black;
    align-self: center;
    align-items: center;
}